<p>writting works!</p>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">

      <div class="col-12">
        <input [(ngModel)]="m.title" type="text" name="title" id="title">
      </div>

      <div class="col-12">
        <textarea [(ngModel)]="m.content" name="content" id="content"></textarea>
      </div>

      <div class="row">
        <button type="button" class="btn btn-success" (click)="addNewMessage()">Send</button>
      </div>

      <div>
        <button type="button" class="btn btn-warning mt-5" (click)="onGoToAllMessages()">allez au messages</button>
      </div>

    </div>
  </div>
</div>